<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1> Here is more info about this HOT hit!</h1>

<ul>
  <li> Song Name: <%=@song.name%></li><br>
  <li> Artist: <a href="/artists/<%=@song.artist.slug%>"><%=@song.artist.name%></a></li><br>
  <% @song.genres.each do |genre|%>
  <li> genre: <a href="/genres/<%=genre.slug%>"><%= genre.name%></a></li><br>
  <% end %>
</ul>
